<div class="about">
  <div class="about_head">
    <h1>About</h1>
  </div>
  <div>
    <div class="about_container">
      <p>I believe that a good future can be created by myself.
        Therefore, I strive to accomplish everything without being discouraged by any obstacles.
        No matter how difficult it is, I have to be patient and try to continuously improve myself to overcome it.
        I don't know how much I have to develop,
        because everything is nothing perfect Everyone has to develop themselves continuously.
        Now I may not be able to compete with others right now,
        but my goal is to continue to improve myself to be able to be good enough to success in life.
      </p>
    </div>
  </div>
</div>
