<div>
    <app-header (sideButton)="sideButtonStatus = $event;"></app-header>
  <main>
    <div class="display-area" [ngClass]="
      {'display-area-full':sideButtonStatus}">
      <app-home id="home"></app-home>
      <app-about id="about"></app-about>
      <app-education id="education"></app-education>
      <app-skill id="skill"></app-skill>
      <app-contact id="contact"></app-contact>
    </div>
    <app-leftmenu [sideButtonStatus]="sideButtonStatus" [ngClass]="
    {'leftmenu-open': sideButtonStatus}"></app-leftmenu>
  </main>
    <app-footer></app-footer>
</div>
